{% extends 'school/layout.html' %}
{% load static %}

{% block title %}Support {{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container py-5">
    <h3 class="d-flex justify-content-center">Support from SST</h3>
    <div class="mx-auto">
        <hr>
        <h5>Student: {{ stream.student.first_name }} {{ stream.student.last_name }}</h5>
        <h5>Teacher: {{ stream.teacher.first_name }} {{ stream.teacher.last_name }}</h5>
        <hr>

        <div class="mb-3">
            <form action="{% url 'school:make_support_post' %}" method="post" id="support-form">
                <input id='teach_id' class="form-control" hidden value="{{ stream.teacher.id }}"
                    name="teach_id">
                <input id='stream_id' class="form-control" hidden value="{{ stream.id }}"
                    name="stream_id">

                {% csrf_token %}
                {% for field in support_form %}
                {{ field.errors }}
                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="input-group mb-3">
                    {{ field }}
                </div>

                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endfor %}
        </div>
        <div class="col-auto">
            <input type="submit" value="Save Support" class="btn btn-primary mb-3" id="submit-btn-support">
        </div>
        </form>
    </div>
</div>
</div>
{% else %}
You are not authenticated
{% endif %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% endblock %}