{% extends 'school/layout.html' %}
{% load static %}

{% block title %}Suport data{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container py-5">
    <h3 class="d-flex justify-content-center">Support data</h3>
    <div class="mx-auto">
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">DoB</th>
                        <th scope="col">Birth order in class</th>
                        <th scope="col">Birth order in family</th>
                        <th scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{ object.stream.student.first_name }}
                            {% if object.student.middle_name != 'None' %}
                            {{ object.stream.student.middle_name }}
                            {% else %}
                            {% endif %}
                            {{ object.stream.last_name }}
                        </td>
                        <td>{{ object.stream.student.date_of_birth }}</td>
                        <td>{{ object.stream.student.birth_order_in_class }}</td>
                        <td>{{ object.stream.student.birth_order_in_family }}</td>
                        <td>{{ object.stream.student.cur_grade }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <article class="blog-post">
                <h2 class="blog-post-title">Support notes</h2>
                <hr>
                <h5>Support date</h5>
                <p>{{ object.date }}</p>
                <h5>Support text</h5>
                <p>{{ object.support_text.all|join:", " }}</p>
                <h5>Support note</h5>
                <p>{{ object.note }}</p>
                <h5>Support provided by</h5>
                <p>{{ object.sst }}</p>
            </article>
        </div>
        {% if object.responce_support.all %}
        <div class="col-md-8">
            <article class="blog-post">
                <h2 class="blog-post-title">Teacher response</h2>
                <hr>
                {% for responce in object.responce_support.all %}
                <h5>Responce date</h5>
                <p>{{ responce.date }}</p>
                <h5>Intervention</h5>
                <p>{{ responce.intervention }}</p>
                <h5>Responce note</h5>
                <p>{{ responce.note }}</p>
                <hr>
                {% endfor %}
            </article>
        </div>
        {% else %}
        {% endif %}
    </div>
</div>
{% else %}
{% endif %}

{% endblock content %}

{% block scripts %}
{{ block.super }}
{% endblock %}