{% extends 'school/layout.html' %}
{% load static %}

{% block title %}{{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block content %}

<style>
    /* coloring cell in table with stream 
    op, cl and pr are the stream status from a db
    reference: STATUS_CHOICES in model Stream
    */
    td[data-color="n"] {
        background-color: red;
    }
    td[data-color="y"] {
        background-color: green;
    }
</style>

<section style="background-color: #eee;">
    <!-- <div class="container py-5"> -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="{{ student.image.url }}" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 200px;">
                    <h4 class="my-3" id="stud-name">{{ student.first_name }} {{ student.last_name }}</h4>
                    <!-- <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->

                    <div class="row">
                        <div class="col-auto">
                            <p class="mb-0 d-flex justify-content-left">Full Name</p>
                            <p class="mb-0 d-flex justify-content-left">Grade</p>
                            <p class="mb-0 d-flex justify-content-left">Date of birth</p>
                            <p class="mb-0 d-flex justify-content-left">Age</p>
                            <p class="mb-0 d-flex justify-content-left">Gender</p>
                            <p class="mb-0 d-flex justify-content-left">Siblings</p>
                            <p class="mb-0 d-flex justify-content-left">Home language</p>
                            <p class="mb-0 d-flex justify-content-left">Date of Enrollment</p>
                        </div>
                        <div class="col-auto">
                            <p hidden id="stud_id">{{ student.id }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left" id="">
                                {{ student.first_name }} {% if student.middle_name != "None" %} {{ student.middle_name }}
                                {% else %} {% endif %} {{ student.last_name }}
                            </p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.cur_grade }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.date_of_birth }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">
                                {{ age_years }} years {{ age_months }} months</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.gender }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.siblings_names }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.home_lang }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.date_join }}</p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="col-sm-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Screening Data
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item"
                                        href="{% url 'school:ocupational_therapy' stud_id=student.id %}">
                                        Occupational Therapy
                                    </a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{% url 'school:speech_therapy' stud_id=student.id %}">
                                        Speech Therapy
                                    </a>
                                </li>
                                <li><a class="dropdown-item disabled"
                                        href="{% url 'school:speech_therapy' stud_id=student.id %}">
                                        Neuropsych Evaluation
                                    </a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{% url 'school:new_read_screen' stud_id=student.id %}">
                                        Reading Screening
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for speech in student.stud_st.all %}
                                <tr>
                                    <td>{{ speech.screen_date }}</td>
                                    <td><a href="{% url 'school:show_speech_ther' student.pk speech.pk %}">Speech_therapy</a></td>
                                </tr>
                            {% endfor %}
                            {% for el in student.stud_ot.all %}
                                <tr>
                                    <td>{{el.screen_date}}</td>
                                    <td><a href="{% url 'school:show_occup_ther' student.pk el.pk  %}">Ocupational_therapy</a></td>
                                </tr>
                            {% endfor %}
                            {% for read in student.student_reading.all %}
                                <tr>
                                    <td>{{ read.date_screen }}</td>
                                    <td><a href="{% url 'school:show_read_screen' student.pk read.pk  %}">Reading screening</a></td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card mb-4 mb-2">
            <div class="card-body">
                <table class="table table-sm" id="stream-table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Stream
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Academic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Guidance and Discipline</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Social Inclusion</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Care and Therapeutic</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false" disabled>
                                        Level
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                1
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                2
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                3
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                4
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                5
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                6
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Forms and Notes                                    
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuFormsNotes">
                                        <li>
                                            <a class="dropdown-item" href="">Intake Form</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Recommendations for Outside Support</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Gender Support Plan</a> 
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Incident Report</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="">Observation</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Support Circle Notes</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">Supports/Interventions</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Review Date</th>
                            <th scope="col">Red/Green</th>
                            <th>Links (temporarily)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stream in student.stream_student.all %}
                            <tr>
                                <td>{{ stream.name }}</td>
                                <td>{{ stream.level }}</td>
                                <td>
                                    {% if stream.intake %}
                                        <a href="{% url 'school:read_intake' student.id stream.intake.pk %}"><br>Intake form</a>
                                    {% else %} {% endif %}
                                    {% if stream.sream_observation.all %}
                                        {% for observation in stream.sream_observation.all %}
                                            <a href="{% url 'school:show_observation' student.id observation.id %}">{{ observation.date }}</a><br>
                                        {% endfor %}
                                    {% else %} {% endif %}
                                </td>
                                <td>
                                    {% for support in stream.support_stream.all %}
                                        <a href="{% url 'school:read_full_support' stream.student.id support.id %}">{{ support }}</a><br>
                                    {% endfor %}
                                </td>
                                <td>{{ stream.date_start }}</td>
                                <td data-review-date="{{ stream.date_review }}">
                                    {% if stream.level == "1" %}
                                        {% if not stream.student_stream.get %}    
                                            <a href="" data-bs-toggle="modal" 
                                                data-bs-target="#exampleModal"
                                                data-date="{{ stream.date_review|date:'Y-m-d' }}"
                                                data-stream-id="{{ stream.id }}">
                                                {{ stream.student_stream.get }}
                                                {{ stream.date_review }}
                                            </a>
                                        {% else %}
                                            {{ stream.date_review }}
                                        {% endif %}
                                    {% else %}
                                        {{ stream.date_review }}
                                    {% endif %}
                                </td>
                                <td data-color="{{ stream.progress|lower }}"></td>
                                <td>
                                    {% if stream.level == "1" %}
                                        {% if stream.student_stream.get %}
                                            <a class="btn btn-secondary btn-sm"
                                                role="button"
                                                href="{% url 'school:read_review' stream.student_stream.get %}">
                                                Read Review
                                            </a>
                                        {% else %}
                                            <a class="btn btn-warning btn-sm" 
                                                role="button"
                                                href="{% url 'school:make_review' stud_id=student.id stream_id=stream.id %}">
                                                Review Meeting Note
                                            </a> 
                                        {% endif %}
                                    {% else %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Review Date</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="form-review-date" action="" method="post">
            <div class="modal-body">
                Please, choose new date for Review Meeting Note
                <input type="date" name="screen_date" class="form-control" required="" id="id_new_review_date">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="close-modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'school/stud_profile.js' %}"></script>
{% endblock %}