{% extends 'school/layout.html' %}
{% load static %}

{% block title %}{{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block content %}

<style>
    /* coloring cell in table with stream 
    op, cl and pr are the stream status from a db
    reference: STATUS_CHOICES in model Stream
    */
    td[data-color="op"] {
        background-color: red;
    }
    td[data-color="cl"] {
        background-color: green;
    }
    td[data-color="pr"] {
        background-color: red;
    }
</style>

<section style="background-color: #eee;">
    <!-- <div class="container py-5"> -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                        class="rounded-circle img-fluid" style="width: 150px;">
                    <h4 class="my-3" id="stud-name">{{ student.first_name }} {{ student.last_name }}</h4>
                    <!-- <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->

                    <div class="row">
                        <div class="col-auto">
                            <p class="mb-0 d-flex justify-content-left">Full Name</p>
                            <p class="mb-0 d-flex justify-content-left">Grade</p>
                            <p class="mb-0 d-flex justify-content-left">Date of birth</p>
                            <p class="mb-0 d-flex justify-content-left">Age</p>
                            <p class="mb-0 d-flex justify-content-left">Gender</p>
                            <p class="mb-0 d-flex justify-content-left">Siblings</p>
                            <p class="mb-0 d-flex justify-content-left">Home language</p>
                            <p class="mb-0 d-flex justify-content-left">Date of Enrollment</p>
                        </div>
                        <div class="col-auto">
                            <p hidden id="stud_id">{{ student.id }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left" id="">
                                {{ student.first_name }} {% if student.middle_name != "None" %} {{ student.middle_name }}
                                {% else %} {% endif %} {{ student.last_name }}
                            </p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.cur_grade }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.date_of_birth }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">
                                {{ age_years }} years {{ age_months }} months</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.gender }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.siblings_names }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.home_lang }}</p>
                            <p class="text-muted mb-0 d-flex justify-content-left">{{ student.date_join }}</p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="col-sm-3">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Screening Data
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item"
                                        href="{% url 'school:ocupational_therapy' stud_id=student.id %}">
                                        Occupational Therapy
                                    </a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{% url 'school:speech_therapy' stud_id=student.id %}">
                                        Speech Therapy
                                    </a>
                                </li>
                                <li><a class="dropdown-item disabled"
                                        href="{% url 'school:speech_therapy' stud_id=student.id %}">
                                        Neuropsych Evaluation
                                    </a>
                                </li>
                                <li><a class="dropdown-item"
                                        href="{% url 'school:new_read_screen' stud_id=student.id %}">
                                        Reading Screening
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for speech in student.stud_st.all %}
                                <tr>
                                    <td>{{ speech.screen_date }}</td>
                                    <td><a href="{% url 'school:show_speech_ther' student.pk speech.pk %}">Speech_therapy</a></td>
                                </tr>
                            {% endfor %}
                            {% for el in student.stud_ot.all %}
                                <tr>
                                    <td>{{el.screen_date}}</td>
                                    <td><a href="{% url 'school:show_occup_ther' student.pk el.pk  %}">Ocupational_therapy</a></td>
                                </tr>
                            {% endfor %}
                            {% for read in student.student_reading.all %}
                                <tr>
                                    <td>{{ read.date_screen }}</td>
                                    <td><a href="{% url 'school:show_read_screen' student.pk read.pk  %}">Reading screening</a></td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card mb-4 mb-2">
            <div class="card-body">
                <table class="table table-sm" id="stream-table">
                    actual
                    <thead>
                        <tr>
                            <th scope="col">Student Name</th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Stream
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Academic</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Guidance and Discipline</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Social Inclusion</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" data-functional="add-stream">Care and Therapeutic</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Level
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                1
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                2
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                3
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                4
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                5
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                6
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Forms and Notes                                    
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuFormsNotes">
                                        <li>
                                            <a class="dropdown-item" href="">Intake Form</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Recommendations for Outside Support</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Gender Support Plan</a> 
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Incident Report</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="">Observation</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Review Meeting Notes</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Support Circle Notes</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">Supports/Interventions</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Review Date</th>
                            <th scope="col">Red/Green</th>
                            <th>Links</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stream in student.stream_student.all %}
                            <tr>
                                <td>{{ student.first_name }} {{ student.last_name }}</td>
                                <td>{{ stream.name }}</td>
                                <td>{{ stream.level }}</td>
                                <td>
                                    {% if stream.concern %}
                                        <a href="{% url 'school:read_concern' stream.concern.pk %}">Concern form</a>
                                    {% else %} {% endif %}
                                    {% if stream.intake %}
                                        <a href=""><br>Intake form</a>
                                    {% else %} {% endif %}
                                </td>
                                <td></td>
                                <td>{{ stream.date_start }}</td>
                                <td>{{ stream.date_review }}</td>
                                <td data-color="{{ stream.status|lower }}"></td>
                                <td><a href="{% url 'school:make_consern' stud_id=student.id stream_id=stream.id %}">Form</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card mb-4 mb-2">
            <div class="card-body">
                <table class="table table-sm">
                    show end result. will be deleted
                    <thead>
                        <tr>
                            <th scope="col">Student Name</th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Stream
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                Academic
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                Guidance and Discipline
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                Social Inclusion
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                Care and Therapeutic
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Level
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                1
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                2
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                3
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                4
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                5
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                href="">
                                                6
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">
                                <div class="dropdown">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        id="" data-bs-toggle="dropdown" aria-expanded="false">
                                        Forms and Notes                                    
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuFormsNotes">
                                        <li>
                                            <a class="dropdown-item" href="">Intake Form</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Recommendations for Outside Support</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Gender Support Plan</a> 
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Incident Report</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="">Observation</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Review Meeting Notes</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="">Support Circle Notes</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                            <th scope="col">Supports/Interventions</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Review Date</th>
                            <th scope="col">Red/Green</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jo Bond</td>
                            <td>Academic</td>
                            <td>1</td>
                            <td>Intake Form</td>
                            <td>Seating Review/preview</td>
                            <td>3/1/22</td>
                            <td>3/22/22</td>
                            <td style="background-color: red;">red</td>
                        </tr>
                        <tr>
                            <td>Jo Bond</td>
                            <td>Academic</td>
                            <td>2</td>
                            <td>Observations Review Meeting Notes</td>
                            <td>Finger toys
                                Chunk assignments
                                </td>
                            <td>3/24/22</td>
                            <td>4/14/22</td>
                            <td style="background-color: red;">red</td>
                        </tr>
                        <tr>
                            <td>Jo Bond</td>
                            <td>Academic</td>
                            <td>3</td>
                            <td>Support Circle Notes
                                Review Meeting Notes
                                </td>
                            <td>Home-school journal
                                </td>
                            <td>4/15/22</td>
                            <td>5/7/22</td>
                            <td style="background-color: green;">green</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <!-- Notes from Parent-Teacher Conference and modal-->
            <div class="card mb-4 mb-2">
                <div class="card-body">
                    <h4 class="card-title"><strong>Notes from Parent-Teacher Conference</strong></h5>
                        <div id="notes-list">
                            {% for note in notes %}
                            <div class="row mb-0 mt-1">
                                <p class="mb-0">
                                    <a href="{% url 'school:show_note_text' student.id note.id %}">
                                        {{ note.date }}
                                    </a>
                                </p>
                                <p class="mb-0">{{ note.note|truncatechars:40 }}</p>
                            </div>
                            <hr class="mb-0 mt-1">
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" id="addNoteBtn">Add note</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add note from Parent-Teacher
                                            Conference</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <form id="form-note">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label class="form-label">Pick a date:</label>
                                                <input type="date" name="date" class="form-control" required=""
                                                    id="id_date">
                                            </div>
                                            <div class="mb-3">
                                                <label for="note-text" class="col-form-label">Note</label>
                                                <textarea class="form-control" id="note-text" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="close-modal" type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" id="save-note-btn">Save
                                                note</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><strong>SST Team Member Observation and Notes</strong></h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Note</th>
                                <th scope="col">SST</th>
                                <th scope="Links">Read</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for observ in observations %}
                            <tr>
                                <td>{{ observ.date }}</td>
                                <td>{{ observ.note|truncatechars:50 }}</td>
                                <td>{{ observ.sst.first_name }} {{ observ.sst.last_name }}</td>
                                <td><a href="{% url 'school:show_observation' student.pk observ.pk  %}" type="button"
                                        class="btn btn-outline-info btn-sm">Read</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
    <!-- Suports table  -->
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><strong>Supports from SST</strong></h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Support Text</th>
                                <th scope="col">Support Note</th>
                                <th scope="col">SST</th>
                                <th scope="col">Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for support in supports %}
                            <tr>
                                <td>{{ support.date }}</td>
                                <td>{{ support.suport_text|truncatechars:25 }}</td>
                                <td>{{ support.note|truncatechars:25 }}</td>
                                <td>{{ support.sst.first_name }} {{ support.sst.last_name }}</td>
                                <td><a href="{% url 'school:create_response' student.id support.pk %}" type="button"
                                        class="btn btn-outline-info btn-sm">Response</a>
                                    <a href="{% url 'school:read_full_support' student.id support.pk %}"
                                        class="btn btn-outline-warning btn-sm">Read</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>


    <!-- Teacher Concerns Form DELETE BEFORE DEPLOY-->
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><strong>Teacher Concerns Form</strong></h4>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Links</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for concern in concerns %}
                        <tr>
                            <td>{{ concern.date }}</td>
                            <td>{{ concern.consern_type|truncatechars:25 }}</td>
                            <td>
                                <div class="col" style="border-radius:5px">
                                    <p data-reffers="reffers" class="mb-0">{{ concern.get_refers_display }}</p>
                                </div>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm" role="group"
                                    aria-label="Basic mixed styles example">
                                    <form action="{% url 'school:update_concern' %}" method="get">
                                        <input hidden class="form-control" value="{{ concern.id }}"
                                            name="concern_id">
                                        <button type="submit"
                                            class="btn btn-sm btn-outline-info">Update</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>




    <!-- </div> -->
</section>
{% endblock content %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'school/stud_profile.js' %}"></script>
{% endblock %}