{% extends 'school/layout.html' %}
{% load static %}

{% block title %}Consern {{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container py-5">
    <h3 class="d-flex justify-content-center">Consern form</h3>
    <div class="mx-auto">
        <div class="mb-3">
            <form action="" method="post">
                <input id='stud_id' class="form-control" hidden value="{{ student.id }}" name="stud_id">
                {% csrf_token %}
                {% for field in cons_form %}
                    {{ field.errors }}
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="input-group mb-3">
                        {{ field }}
                    </div>

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                {% endfor %}
                <br>

                <div class="col-auto">
                    <input type="submit" value="Save Concern" class="btn btn-primary mb-3" id="submit-btn">
                </div>
            </form>

        </div>
    </div>
</div>
<div class="container py-5">
    
    <h3 class="d-flex justify-content-center">Intake form</h3>
    <br>
    <div class="mx-auto">
        <div class="mb-3">
            <form action="" method="post">
                <input id='stud_id' class="form-control" hidden value="{{ student.id }}" name="stud_id">
                {% csrf_token %}
                {% for field in intake_form %}
                    {{ field.errors }}
                    <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="input-group mb-3">
                        {{ field }}
                    </div>

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                {% endfor %}
                <br>

                <div class="col-auto">
                    <input type="submit" value="Save Intake forms" class="btn btn-primary mb-3" id="submit-btn">
                </div>
            </form>

        </div>
    </div>
</div>
{% else %}
{% endif %}
 
{% endblock content %}

{% block scripts %}
    {{ block.super }}
{% endblock %}
