{% extends 'school/layout.html' %}
{% load static %}


{% block links %}
<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        /* background: #7abecc !important;  old 
        background: #ffffff !important; */
    }

    .user_card {
        width: 350px;
        /* margin-top: auto; */
        margin-top: 180px;
        
        margin-bottom: auto;
        /* background: #74cfbf; */
        background: #9df8e7;
        position: relative;
        /* sdisplay: flex; */
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }

    .form_container {
        margin-top: 10px;
    }

    #form-title{
        color: rgb(44, 38, 38);
    }
    .login_btn {
        width: 60%;
        background: #888989 !important;
        /* background: #33ccff !important; */
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #f7ba5b !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
</style>
    


{% endblock %} 


{% block content %}
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">LOGIN</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="post" action="{% url 'school:login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">{{ form.username.label_tag }}</label>
                            {{ form.username }}
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">{{ form.password.label_tag }}</label>
                            {{ form.password }}
                          </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Enter">
                        </div>
                    </form>
                </div>
                <!-- <div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account?<a href="" class="ml-2">Sign Up</a>
					</div>
				</div> -->
            </div>
        </div>
    </div>
    {% endblock content %}