{% extends 'school/layout.html' %}
{% load static %}

{% block title%}SST{% endblock %}
{% block content %}


<h3>
    Hi!
    {{ user.first_name|default:'No firstname' }}
    {{ user.last_name|default:'No lastname' }}
</h3>

<div class="container">
    <div class="row">
        <!-- <div class="col-sm-6"> -->
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Streams</h5>
                    <table class="table table-sm" id="stream-table">
                        <thead>
                            <tr>
                                <th scope="col">Student Name</th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                            id="" data-bs-toggle="dropdown" aria-expanded="false">
                                            Stream
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="dropdown-item" data-functional="add-stream">Academic</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" data-functional="add-stream">Guidance and Discipline</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" data-functional="add-stream">Social Inclusion</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" data-functional="add-stream">Care and Therapeutic</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                            id="" data-bs-toggle="dropdown" aria-expanded="false">
                                            Level
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li>
                                                <a class="dropdown-item"
                                                    href="">
                                                    1
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="">
                                                    2
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="">
                                                    3
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="">
                                                    4
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="">
                                                    5
                                                </a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item"
                                                    href="">
                                                    6
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                            id="" data-bs-toggle="dropdown" aria-expanded="false">
                                            Forms and Notes                                    
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuFormsNotes">
                                            <li>
                                                <a class="dropdown-item" href="">Intake Form</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="">Recommendations for Outside Support</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="">Gender Support Plan</a> 
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="">Incident Report</a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item" href="">Observation</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="">Review Meeting Notes</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="">Support Circle Notes</a>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th scope="col">Supports/Interventions</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Review Date</th>
                                <th scope="col">Red/Green</th>
                                <th scope="col">Commands</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for stream in streams %}
                                <tr>
                                    <td><a href="{% url 'school:student_data_profile' stud_id=stream.student.id %}">
                                    {{ stream.student.first_name }} {{ stream.student.last_name }}</a></td>
                                    <td>{{ stream.name }}</td>
                                    <td>{{ stream.level }}</td>
                                    <td>
                                        {% if stream.student_stream.get %}
                                            <a href="{% url 'school:sst_read_review' stream.student_stream.get %}">Review note</a>
                                        {% else %} {% endif %}
                                        {% if stream.intake %}
                                            <a href="{% url 'school:sst_read_intake' stream.student_stream.get %}"><br>Intake form</a>
                                        {% else %} {% endif %}
                                        {% if stream.sream_observation.all %}
                                            {% for observation in stream.sream_observation.all %}
                                                <a href="">{{ observation.note|truncatechars:7 }}</a><br>
                                            {% endfor %}
                                        {% else %} {% endif %}
                                    </td>
                                    <td></td>
                                    <td>{{ stream.date_start }}</td>
                                    <td>{{ stream.date_review }}</td>
                                    <td data-color="{{ stream.status|lower }}"></td>
                                    <td>
                                        {% if stream.level == '2' %}
                                            <div class="dropdown">
                                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                                    id="" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Forms and Notes                                    
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuFormsNotes">
                                                    <li>
                                                        <a class="dropdown-item" href="">Intake Form</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="">Recommendations for Outside Support</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="">Gender Support Plan</a> 
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="">Incident Report</a>
                                                    </li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li>
                                                        <input type="button" data-bs-toggle="modal" data-bs-target="#observModal"
                                                            class="dropdown-item" id="observ-btn" value="Add observation"
                                                            data-observation="observ" data-teacher-id="{{ stream.teacher.id }}"
                                                            data-names="{{ stream.teacher.first_name }} {{ stream.teacher.last_name }}"
                                                            data-student-id="{{ stream.student.id }}" data-stream-id="{{ stream.id }}">
                                                        </input>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="">Review Meeting Notes</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="">Support Circle Notes</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="mx-auto">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">All students</h5>
                <br>
                <table class="table table-sm" id="student_table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Teacher</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td><a href="{% url 'school:student_profile' student.id %}">{{ student.school_id }}</a></td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.cur_grade }}</td>
                            <td>{{ student.teacher }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="observModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Observation and Notes</h5>
                    <br>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <form id="form-observ" action="" method="post">
                    <input hidden id="teacher-id-in-modal" name="teacher-id-in-modal">
                    <input hidden id="student-id-in-modal" name="student-id-in-modal">
                    <input hidden id="stream-id-in-modal" name="stream-id-in-modal">
                    <div class="modal-body">
                        <h4 class="d-flex justify-content-center" id="teacher-name-in-modal"></h4>
                        <div class="mb-3">
                            <label for="id_date_observ" class="form-label">Pick a date:</label>
                            <input type="date" name="date" class="form-control" required="" id="id_date_observ">
                        </div>
                        <div class="mb-3">
                            <label for="obs-text" class="col-form-label">Observation notes</label>
                            <textarea rows="5" class="form-control" id="obs-text" required=""></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="close-modal-obs" type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="save-note-btn">Save note</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script src="{% static 'school/sst.js' %}"></script>
{% endblock %}