{% extends 'school/layout.html' %}
{% load static %}

{% block content %}
    
    <div class="card w-50">
        <div class="card-body">
            <form enctype="multipart/form-data" method="post" action="{% url 'school:upload_students' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="formFile" class="form-label">
                        Chose file with list of students to populate database
                    </label>
                </div>
                {{ file_form.as_p }}
                <input class="btn btn-primary" id="submit" type="submit" value="Upload data" />
            </form>
        </div>
    </div>    
{% endblock content %}
