{% extends 'school/layout.html' %}
{% load static %}

{% block title %}{{ student.first_name }} {{ student.last_name }}{% endblock %}

{% block content %}
<section style="background-color: #eee;">
<!-- <div class="container py-5"> -->
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <h4 class="my-3">{{ student.first_name }} {{ student.last_name }}</h4>
                <!-- <p class="text-muted mb-1">Full Stack Developer</p>
                <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
                
                <div class="row">
                <div class="col-auto">
                    <p class="mb-0 d-flex justify-content-left">Full Name</p>
                    <p class="mb-0 d-flex justify-content-left">Date of birth</p>
                    <p class="mb-0 d-flex justify-content-left">BO in class</p>
                    <p class="mb-0 d-flex justify-content-left">BO in family</p>
                    <p class="mb-0 d-flex justify-content-left">Age</p>
                    <p class="mb-0 d-flex justify-content-left">Gender</p>
                    <p class="mb-0 d-flex justify-content-left">Grade</p>
                    <p class="mb-0 d-flex justify-content-left">Date of joining</p>
                    <p class="mb-0 d-flex justify-content-left">Home language</p>
                </div>
                <div class="col-auto">
                    <p hidden id="stud_id">{{ student.id }}</p>
                    <p class="text-muted mb-0 d-flex justify-content-left" id="">
                        {{ student.first_name }} {% if tudent.middle_name != None %} {{ student.middle_name }} {% else %} {% endif %} {{ student.last_name }}
                    </p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ student.date_of_birth }}</p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ student.birth_order_in_class }}</p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ student.birth_order_in_family }}</p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ age_years }} years {{ age_months }} months</p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ student.gender }}</p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ student.cur_grade }}</p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ student.date_join }}</p>
                    <p class="text-muted mb-0 d-flex justify-content-left">{{ student.home_lang }}</p>
                </div>
                </div>
                <br>
                
            </div>
        </div>
        
    </div>
    <!-- Teacher Concerns Form -->
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><strong>Teacher Concerns Form</strong></h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Links</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for concern in concerns %}
                            <tr>
                                <td>{{ concern.date }}</td>
                                <td>{{ concern.consern_type}}</td>
                                <td>
                                    <div class="col" style="border-radius:5px">
                                        <p data-reffers="reffers" class="mb-0">{{ concern.get_refers_display }}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                        <form action="{% url 'school:update_concern' %}" method="get">
                                            <input hidden class="form-control" value="{{ concern.id }}" name="concern_id">
                                            <button type="submit" class="btn btn-sm btn-outline-info">Update</button>
                                        </form>
                                        
                                        <button type="button" class="btn btn-outline-warning">ND</button>
                                        <button type="button" class="btn btn-outline-success">ND</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <a href="{% url 'school:make_consern' stud_id=student.id %}"" class="btn btn-outline-primary">Make Concern</a>
            </div>
        </div>
    </div>
</div>    
<div class="row">
    <div class="col-lg-4">
        <!-- Notes from Parent-Teacher Conference and modal-->
        <div class="card mb-4 mb-2">
            <div class="card-body">
                <h4 class="card-title"><strong>Notes from Parent-Teacher Conference</strong></h5>
                    <div id="notes-list">
                        {% for note in notes %}
                            <div class="row mb-0 mt-1">
                                    <p class="mb-0">{{ note.date }}</p>
                                    <p class="mb-0">{{ note.note }}</p>
                            </div>
                            <hr class="mb-0 mt-1">
                        {% endfor %}
                    </div>
                <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="addNoteBtn">Add note</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add note from Parent-Teacher Conference</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form id="form-note">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label class="form-label">Pick a date:</label>
                                        <input type="date" name="date" class="form-control" required="" id="id_date">
                                    </div>
                                    <div class="mb-3">
                                        <label for="note-text" class="col-form-label">Note</label>
                                        <textarea class="form-control" id="note-text" required=""></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="close-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" id="save-note-btn">Save note</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <div class="col-lg-8">
        <div class="card mb-4 mb-2">
            <div class="card-body">
                <h4 class="card-title">
                    <div class="row">
                        <div class="col">
                            <strong>OT, ST, PM, Read Screen</strong> 
                        </div>
                        <div class="col-sm-3">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Choose Therapy
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'school:ocupational_therapy' stud_id=student.id %}">Occupational Therapy</a></li>
                                <li><a class="dropdown-item" href="{% url 'school:speech_therapy' stud_id=student.id %}">Speech Therapy</a></li>
                                <li><a class="dropdown-item" href="#">Reading Screening</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </h4>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Links</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for el in student.stud_st.all %}
                            <tr>
                                <td>{{el.screen_date}}</td>
                                <td>Speech_therapy</td>
                                <td>
                                    
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                        <form action="{% url 'school:update_concern' %}" method="get">
                                            <input hidden class="form-control" value="{{ concern.id }}" name="concern_id">
                                            <button type="submit" class="btn btn-sm btn-outline-info">View</button>
                                        </form>
                                        
                                        <button type="button" class="btn btn-outline-warning">ND</button>
                                        <button type="button" class="btn btn-outline-success">ND</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        
                        <hr>
                        
                        {% for el in student.stud_ot.all %}
                            <tr>
                                <td>{{el.screen_date}}</td>
                                <td>Ocupational_therapy</td>
                                <td>
                                    
                                    <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                        <form action="{% url 'school:update_concern' %}" method="get">
                                            <input hidden class="form-control" value="{{ concern.id }}" name="concern_id">
                                            <button type="submit" class="btn btn-sm btn-outline-info">View</button>
                                        </form>
                                        
                                        <button type="button" class="btn btn-outline-warning">ND</button>
                                        <button type="button" class="btn btn-outline-success">ND</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>
    <div class = "col-lg-12">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><strong>SST Team Member Observation and Notes</strong></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Note</th>
                            <th scope="col">SST</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        {% for observ in observations %}
                        <tr>
                            <td>{{ observ.date }}</td>
                            <td>{{ observ.note }}</td>
                            <td>{{ observ.sst.first_name }} {{ observ.sst.last_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>    
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title"><strong>Supports from SST</strong></h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Support Text</th>
                            <th scope="col">Support Note</th>
                            <th scope="col">SST</th>
                            <th scope="col">Commands</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for support in supports %}
                            <tr>
                                <td>{{ support.date }}</td>
                                <td>{{ support.suport_text }}</td>
                                <td>{{ support.note }}</td>
                                <td>{{ support.sst.first_name }} {{ support.sst.last_name }}</td> 
                                <td><a href="" type="button" class="btn btn-outline-info btn-sm">Response</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>




<!-- </div> -->
</section>
{% endblock content %}

{% block scripts %}
{{ block.super }}
    <script src="{% static 'school/stud_profile.js' %}"></script>
{% endblock %}
