{% extends 'school/layout.html' %}
{% load static %}

{% block content %}
    <h3>Hi! 
        {{ user.first_name|default:'No firstname' }} 
        {{ user.last_name|default:'No lastname' }}
    </h3>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" 
            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" 
            aria-expanded="false">
            Select student
        </a>
        <ul class="dropdown-menu">
            {% for student in students %}
                <li><a class="dropdown-item" href="{% url 'school:student_data_profile' stud_id=student.id %}">{{ student.first_name }} {{ student.last_name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <br>
    
{% endblock content %}
